# <div align = 'center'> Práctica Dirigida 5 </div>
### Pregunta 1
  <div align = 'left'>
      <font color = 'steelblue' size = 4>
        Para este ejercicio emplee la base de datos <strong>wage1</strong> del dataWoo del Wooldridge<br>
          </font>
        </div>

In [13]:
#PD_5 

import wooldridge as woo

#Cargamos la Data
wage_test = woo.dataWoo('wage1')

#woo.dataWoo('wage1',description= True )
wage_test

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,...,0,0,0,1,1,0,0,2.708050,196,4
522,2.27,10,2,0,0,1,0,3,0,0,...,0,1,0,0,1,0,0,0.819780,4,0
523,4.67,15,13,18,0,0,1,3,0,0,...,0,0,0,0,1,0,0,1.541159,169,324
524,11.56,16,5,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.447551,25,1
525,3.50,14,5,4,1,1,0,2,0,0,...,0,0,0,1,0,1,0,1.252763,25,16

In [21]:
#Determine el nivel educativo promedio de la muestra. ¿Cuales son los niveles de
#educacion menor y mayor?

import statistics as stats
nivel_educativo = wage_test["educ"]
promedio_educacion= stats.mean(nivel_educativo)
promedio_educacion

12.562737642585551

In [19]:
import pandas as pd
import numpy as np

print(min(nivel_educativo))
print(max(nivel_educativo))

0
18

In [22]:
#Determine el salario promedio por hora (wage) en la muestra. ¿Parece ser alto o bajo?

import statistics as stats
type(wage_test)
salario_promedio = wage_test["wage"]
print(stats.mean(salario_promedio))
print(min(salario_promedio))
print(max(salario_promedio))

5.896102674787035
0.5299999713897705
24.979999542236328

In [16]:
#¿Cuantas mujeres (females) hay en la muestra? ¿Cuantos hombres?

from collections import Counter

gender = wage_test["female"]

print(Counter(gender).keys())
print(Counter(gender).values())

print(Counter(gender))

dict_keys([1, 0])
dict_values([252, 274])
Counter({0: 274, 1: 252})

In [25]:
#Para este ejercicio emplee la base de datos bwght del dataWoo del Wooldridge
import wooldridge as woo

#Cargamos la Data
wage_task = woo.dataWoo('bwght')
wage_task

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
0,13.5,16.5,122.300003,109,12.0,12.0,1,1,1,0,4.691348,6.8125,0.0,2.602690
1,7.5,16.5,122.300003,133,6.0,12.0,2,1,0,0,4.890349,8.3125,0.0,2.014903
2,0.5,16.5,122.300003,129,NaN,12.0,2,0,0,0,4.859812,8.0625,0.0,-0.693147
3,15.5,16.5,122.300003,126,12.0,12.0,2,1,0,0,4.836282,7.8750,0.0,2.740840
4,27.5,16.5,122.300003,134,14.0,12.0,2,1,1,0,4.897840,8.3750,0.0,3.314186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,27.5,30.0,138.300003,110,12.0,12.0,4,1,1,0,4.700480,6.8750,0.0,3.314186
1384,5.5,30.0,138.300003,146,NaN,16.0,2,1,1,0,4.983607,9.1250,0.0,1.704748
1385,65.0,8.0,118.599998,135,18.0,16.0,2,0,1,0,4.905275,8.4375,0.0,4.174387
1386,27.5,8.0,118.599998,118,NaN,14.0,2,0,1,0,4.770685,7.3750,0.0,3.314186
1387,37.5,8.0,118.599998,111,16.0,13.0,2,0,1,0,4.709530,6.9375,0.0,3.624341

In [24]:
#¿Cu ́antas mujeres hay en la muestra (male = 0) y cuantas de las informantes fumaron durante un embarazo?.

import statistics as stats

gender_2 = wage_task["male"]

print(Counter(gender_2).keys())
print(Counter(gender_2).values())

print(Counter(gender_2))

dict_keys([1, 0])
dict_values([723, 665])
Counter({1: 723, 0: 665})

In [38]:
#¿Cu ́al es la cantidad promedio de cigarros consumidos por dıa (cigs)? ¿Es el promedio, en este caso, una medida representativa de la mujer “t ́ıpica”? Explique.    

cigarros_dia = wage_task["cigs"]

print(Counter(cigarros_dia).keys())
print(Counter(cigarros_dia).values())

print(Counter(cigarros_dia)
#1388-1176=212

dict_keys([0, 6, 10, 20, 40, 3, 4, 5, 8, 12, 1, 15, 30, 2, 7, 46, 50, 9])
dict_values([1176, 6, 55, 62, 6, 7, 9, 19, 5, 5, 3, 19, 5, 4, 4, 1, 1, 1])
Counter({0: 1176, 20: 62, 10: 55, 5: 19, 15: 19, 4: 9, 3: 7, 6: 6, 40: 6, 8: 5, 12: 5, 30: 5, 2: 4, 7: 4, 1: 3, 46: 1, 50: 1, 9: 1})

In [45]:
import statistics as stats

smoke = wage_task["cigs"] 
print(stats.mean(smoke))

2.0871757925072045

In [26]:
#woo.dataWoo('bwght', description=True)

#cigs

cigarros = wage_task['cigs']
cigarros

np.mean(cigarros)

cigarros_promedio= np.mean(cigarros)

print(f"La cantidad de cigarros consumidos promedio es {np.mean(cigarros):0.3f}")

La cantidad de cigarros consumidos promedio es 2.087

In [46]:
#Determine el promedio de fatheduc (a ̃nos de educaci ́on del padre) en la muestra.
#¿Por qu ́e se emplean solo 1192 observaciones para calcular este promedio?


años_educa_father = wage_task["fatheduc",]-

print(stats.mean(años_educa_father))

nan

In [27]:
#De el ingreso familiar promedio (famine) y su desviacion estandar en d ́olares.

import numpy as np
x =np.random.rand(10)
x

array([0.0386028 , 0.69974884, 0.42921396, 0.50922027, 0.88742546,
       0.63733787, 0.02940983, 0.01714555, 0.68320444, 0.08602239])

In [28]:
import numpy as np
np.random.seed (37)
x =np.random.rand(10)
x

array([0.9444966 , 0.46409817, 0.19279503, 0.58189488, 0.62008421,
       0.68422402, 0.10343756, 0.74547577, 0.28197907, 0.75342459])